---
import Image from "./Image.astro";
const { src, alt, active } = Astro.props;
---

<div class="flex flex-col @lg:flex-row">
  <div class="@lg:w-1/2">
    <Image src={src} alt={alt} active={active} className="visible @lg:hidden rounded-t-2xl" />
    <Image width={900} height={900} src={src} alt={alt} active={active} className="hidden @lg:block object-cover rounded-l-2xl" />
  </div>
  <div
    class="bg-slate-950 text-slate-200 @lg:w-1/2 p-3 @lg:p-5 border-2 border-t-0 @lg:border-t-2 @:border-l-0 border-gray-700 rounded-b-2xl @lg:rounded-bl-none @lg:rounded-tr-2xl"
  >
    <slot />
  </div>
</div>
